* {
	margin: 0;
	padding: 0;
}

#bookDisplay {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  border: 2px solid gray;
}


tr {
  height: 50px;
}

tr:nth-child(odd) {
  background-color: aliceblue;
}